* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid; */
}
html {
    height: 100vh;
    background-color: aquamarine;
}
body {
    height: inherit;
    font-family: monospace, serif, Arial, Helvetica, sans-serif;
}
.main {
    display: flex;
    width: 100%;
    height: 100%;
}
.sidebar {
    width: 20%;
    height: 100%;
}
.chat-area {
    width: 80%;
    height: 100%;
}
.messages {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    height: calc(95% - 1rem);
    margin: 0.5rem;
    border: 1px solid;
    padding: 0.5rem;
    box-sizing: border-box;
    overflow-y: scroll;
}
.messages > div {
    display: inline-block;
    width: fit-content;
    padding: 0.5rem;
    border-radius: 17px 8px 17px 0px;
    box-shadow: 1px -1px 3px 0px;
}
.message-form {
    height: 5%;
    width: 90%;
    display: inline-block;
    padding-bottom: 0.5rem;
}
.message-form [name="message"] {
    height: 100%;
    width: 89%;
    border-radius: 4px;
}
.message-form [name="send"] {
    height: 100%;
    width: 10%;
    border-radius: 4px;
}
.chat-area #location {
    width: 9%;
    height: calc(5% - 0.5rem);
    border-radius: 4px;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.center > form {
    height: fit-content;
    width: fit-content;
    box-shadow: 1px 1px 10px -3px;
    border-radius: 10px;
}
.center > form > * {
    display: block;
    margin: 2rem;
}
.center > form > h2 {
    text-align: center;
}
.center > form > div > * {
    display: block;
    margin: 0.2rem 0.6rem;
    height: 1.6rem;
}
.center > form > [type="submit"] {
    margin: 1rem auto;
    height: 1.6rem;
    padding: 0.8rem 2rem;
    line-height: 0;
    border-radius: 4px;
}
.sidebar-section {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}
.sidebar-section>*{
    margin: .1rem 1rem;
    border-bottom: 2px solid;
}
.sidebar-section>h1{
    box-shadow: 0px 1px 4px -1px;
    padding: .3rem;
    text-align: center;
    border: none;
    margin: 1rem;
    border-radius: 4px;
}
p{
    overflow-wrap: anywhere;
}
